$primary: #db2a6b;
$secondary: #2b2d38;
$text-muted: #ababab;
$white: #ffffff;
$text: #ffffff;
$white-op: #ffffff25;
$purple: #6e1fed;
$orange: #ff7e29;
$yellow: #f4b840;
$blue-light: #60d3d9;

$radius-sm: 6px;
$radius-md: 12px;

$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 10px rgba(0, 0, 0, 0.15);

$font-primary: "Poppins", sans-serif;
$font-secundary: "Merriweather", serif;
